* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: teal;
}

body {
}
.containerAll {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.containerHeader {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: thistle;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 100px;
}
.containerMain {
  background-color: white;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);

  /* align-items: stretch; */
  /* flex-wrap: wrap; */
  /* margin: 0; */
  /* flex-direction: row-reverse; */
}
.containerFooter {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.grids {
  background-color: white;
  /* min-height: 0px; */
  /* flex-grow: 1; */

  border: 1px solid black;
}

.reset {
  padding: 30px;
  font-size: 20px;
}

.resetBtn {
  padding: 30px;
  font-size: 20px;
  border-radius: 50px;
  background-color: thistle;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.reSize {
  padding: 30px;
  font-size: 20px;
  border-radius: 50px;
  background-color: thistle;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hidden {
  display: none;
}

.hover {
  background-color: black;
}
